:root {
  --primay: black;
  --bg-primay: white;

  --link: #2a0b0b;
  text-align: center;
}

p {
  margin: 20px 0px;
}

button {
  outline: none;
  border: none;
  border-radius: 0;
  padding: 10px 35px;

  background: #845ec2;
  color: white;
  /* font-size: calc(10px + 2vmin); */
}
button:disabled {
  filter: brightness(30%);
}
button:hover {
  filter: brightness(120%);
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

  background: var(--bg-primay);
  color: var(--primay);
}

.link {
  color: var(--link);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
